@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url("../fonts/Open_Sans/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url("../fonts/Open_Sans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --gray-lighter: #e8e8e8;
  --gray-light: #a8a8a8;
  --gray-base: #444444;
  --gray-dark: #232323;
  --gray-darker: #0a0a0a;

  --theme-color: #b500ff ;
  --active-element: var(--theme-color);
  --primary-button: var(--theme-color);
  --inactive-element: var(--gray-light) ;
  --disabled-element: #595959;
  --warning-red: #e9243e;
  --zoom-blue: rgb(22, 123, 222) ;

  --slider-background: #3a3a3a ;
  --slider-muted: #595959 ;

  /* Typography */
  --font-family-body: "Open Sans", sans-serif;
  --font-family-heading: "Open Sans", sans-serif;

  /* Layout/spacing */
  --room-header-height: 6rem;
  --banner-height: 5.8rem;
  --scale-factor: 1;
}


html, body {
  background-color: var(--gray-darker);
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  position: relative;
  font-family: "Open Sans", sans-serif;
  color: var(--gray-light);
}

html {
  font-size: calc(var(--scale-factor) * 62.5%); /* 62.5% of 16px = 10px */
}

h1 {
  font-weight: normal;
  font-size: 5.28rem;
}

h2 {
  font-size: 2.56rem;
  font-weight: normal;
  text-transform: capitalize;
  padding-bottom: 0.8rem;
  margin: 0;
}

/* Global Components */
.container {
  position: relative;
}

.primary-control-group {
  padding: 0 3%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-content: flex-start;
  padding-top: calc(var(--room-header-height) + 2.5rem);
}

.primary-control-group:first-of-type { /* Banner accomodations */
  padding-top: calc(var(--room-header-height) + 2.5rem);
}
.primary-control-group:first-of-type.banners-active {
  padding-top: calc(var(--num-banners) * var(--banner-height) + var(--room-header-height) + 2.5rem);
}


/* icons */
.icon {
  max-width: 100%;
  max-height: 100%;
  pointer-events: none;
}

.outline {
  fill: none;
  stroke: var(--gray-light);
}

.shape {
  fill: var(--gray-light);
  stroke: var(--gray-light);
}

.shape-inverted {
  fill: var(--gray-light);
  stroke: var(--gray-base);
}

.inactive-element {
  color: var(--gray-light);
}
.inactive-element .outline, .inactive-element .shape {
  stroke: var(--gray-light);
}
.inactive-element .shape {
  fill: var(--gray-light);
}

/* icons */
.icon-container.no-icon {
  display: none;
}
.power-icon {
  top: 10%;
}
button .usb-c-icon, button .hdmi-icon, button .vga-icon {
  top: 30%;
  overflow: visible;
}
button .zoom-icon, button .camera-icon, button .privacy-icon {
  top: 13%;
}
button .mac-icon {
  top: calc(50% - 5.5rem);
}
button .roku-icon {
  top: calc(50% - 2.5rem);
}
button .icon.voice-track-icon {
  width: 200%;
  top: 2rem;
  left: 15%;
}
button .icon.voice-lift-icon {
  width: 200%;
  top: 3rem;
  left: 17%;
}



/* all buttons */ 
button {
  border: none;
  color: var(--gray-light);
  position: relative;
  overflow: hidden;
  background-color: #3d3d3d;
  box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.15), 0 0.1rem 0.3rem 0.1rem rgba(0, 0, 0, 0.4);
  padding: 0.5rem;
  margin: 0 0.7rem 1rem;
  border-radius: 1rem;
}
button > * {
  pointer-events: none;
}

button:focus, button:active {
  outline: none;
}

button.active, button.full.active, button.focus, button.full.focus {
  background-color: var(--theme-color);
  color: #fff;
}
button.active .button-label, button.full.active .button-label, button.focus .button-label, button.full.focus .button-label {
  color: #fff;
}
button.active .outline, button.full.active .outline, button.focus .outline, button.full.focus .outline {
  stroke: #fff;
}
button.active .shape, button.full.active .shape, button.focus .shape, button.full.focus .shape {
  stroke: #fff;
  fill: #fff;
}
button.active .shape-inverted, button.full.active .shape-inverted, button.focus .shape-inverted, button.full.focus .shape-inverted {
  fill: #fff;
  stroke: var(--theme-color);
}

button[disabled], button.disabled {
  color: var(--disabled-element);
  background: rgba(255, 255, 255, 0.04);
}
button[disabled] .outline, button[disabled] .shape, button.disabled .outline, button.disabled .shape {
  stroke: var(--disabled-element);
}
button[disabled] .shape, button.disabled .shape {
  fill: var(--disabled-element);
}
button[disabled] .shape-inverted, button.disabled .shape-inverted {
  fill: var(--disabled-element);
  stroke: var(--gray-dark);
}
button[disabled] .button-label, button.disabled .button-label {
  color: var(--disabled-element);
}
button[disabled].active, button[disabled].focus, button.disabled.active, button.disabled.focus {
  background: var(--gray-light);
}

.button-label {
  width: 100%;
  line-height: 1;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  flex-grow: 0;
  pointer-events: none;
  color: var(--gray-light);
  font-size: 2.6rem;
  font-weight: normal;
}


/* full button (icon and label; square aspect) */
button.full {
  border-radius: 2.5rem;
  padding: 1rem;
  min-width: 17rem;
  min-height: 17rem;
  width: 17rem;
  height: 17rem;
  display: inline-flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  vertical-align: top;
  text-align: center;
}
button.full .icon-container {
  width: 100%;
  flex: 1;
}
button.full .icon {
  width: 60%;
  max-width: 11rem;
  display: block;
  position: absolute;
  left: 20%;
}
button.full.hidden {
  display: none;
}

button.full-horizontal { /* eg. SIP */
  display: inline-flex;
}
button.full-horizontal .icon-container {
  position: relative;
  height: 100%;
  margin-right: 0.5rem;
}
button.full-horizontal .shape, button.full-horizontal .outline {
  stroke: var(--gray-lighter);
}
button.full-horizontal .shape {
  fill: var(--gray-lighter);
}


/* text-only button */
button.text-only, button.default-button, button.full-horizontal {
  font-size: 2rem;
  font-weight: normal;
  color: var(--gray-lighter);
  border-radius: 2rem;
  padding: 2rem 3rem;
}

button.text-only .button-label {
  font-size: 3rem;
}


/* icon-only button (eg. audio mute) */
button.icon-only {
  border-radius: 2.5rem;
}


/* audio mute button */
button.mute {
  width: 12rem;
  height: 9rem;
  min-width: 0;
  min-height: 0;
}
button.mute .icon {
  left: unset;
  width: 100%;
  position: relative;
}


/* volume slider */
.slider, input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  width: 30rem;
  max-width: 90rem;
  height: 3rem;
  margin: 3rem 0.7rem;
  border-radius: 0.5rem;
  /* background: linear-gradient(to right, var(--theme-color), var(--theme-color) 50%, var(--slider-background) 50%, var(--slider-background)); */
  background: var(--slider-background) ;
  flex-grow: 4;
}
.slider::-webkit-slider-thumb, input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  height: 6rem; /* Slider handle height */
  width: 3rem; /* Set a specific slider handle width */
  background-color: var(--gray-base);
  box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.15), 0 0.1rem 0.3rem 0.1rem rgba(0, 0, 0, 0.4);
  border-radius: 0.3rem;
  outline: none;
  border: none;
}
.slider::-moz-range-thumb, input[type=range]::-moz-range-thumb {
  height: 6rem; /* Slider handle height */
  width: 3rem; /* Set a specific slider handle width */
  background-color: var(--gray-base);
  box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.15), 0 0.1rem 0.3rem 0.1rem rgba(0, 0, 0, 0.4);
  border-radius: 0.3rem;
  outline: none;
  border: none;
}


/* volume stepper control */
button.volume-stepper {
  width: 12rem;
  height: 9rem;
  min-width: 0;
  min-height: 0;
  color: var(--gray-lighter);
}
button.volume-stepper .icon {
  left: unset;
  width: 100%;
  position: relative;
}
button.volume-stepper.active {
  color: var(--theme-color);
}


/* camera pan/tilt control */
.pan-tilt-wrapper {
  position: relative;
  display: inline-flex;
  width: 20rem;
  height: 20rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.3rem;
  top: -0.9rem;
}
.pan-tilt-wrapper .pan-tilt-background-mask {
  background-color: #3d3d3d;
  position: absolute;
  height: 32%;
  top: 34%;
  width: 100%;
  border-radius: 1rem;
}
.pan-tilt-wrapper .pan-tilt-background-mask:after {
  content: "";
  position: absolute;
  width: 32%;
  height: 2rem;
  background-color: #3d3d3d;
  left: 34%;
  top: -1.8rem;
}
.pan-tilt-wrapper .pan-tilt-background-mask:before {
  content: "";
  position: absolute;
  width: 32%;
  height: 2rem;
  background-color: #3d3d3d;
  left: 34%;
  bottom: -1.8rem;
}
.pan-tilt-wrapper .button-label {
  position: absolute;
  bottom: -3.5rem;
  text-align: center;
  width: 100%;
}
.pan-tilt-wrapper .arrow {
  display: block;
  width: 0;
  height: 0;
  border-top: 2rem solid transparent;
  border-right: 3rem solid var(--gray-light);
  border-bottom: 2rem solid transparent;
  margin: auto;
}
.pan-tilt-wrapper button {
  position: absolute;
  width: 32%;
  height: 32%;
  padding: 0;
  margin: 0;
  border-radius: 1rem 0 0 1rem;
}
.pan-tilt-wrapper button.active .arrow {
  border-right: 3rem solid var(--gray-lighter);
}
.pan-tilt-wrapper button.pan-left {
  top: 34%;
  left: 0;
}
.pan-tilt-wrapper button.pan-right {
  top: 34%;
  right: 0;
  transform: rotate(180deg);
}
.pan-tilt-wrapper button.tilt-up {
  left: 34%;
  top: 0;
  transform: rotate(90deg);
}
.pan-tilt-wrapper button.tilt-down {
  left: 34%;
  bottom: 0;
  transform: rotate(-90deg);
}


/* camera zoom in/out control */
.camera-zoom.button-group {
  width: 27rem;
  flex-wrap: wrap;
  justify-content: center;
}
.camera-zoom.button-group .volume-stepper {
  margin-top: 4rem;
}
.camera-zoom.button-group .button-label {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}


/* Secondary Control Group Components */
header, .header {
  width: 100%;
  position: relative;
  display: flex;
}
header .icon-container, .header .icon-container {
  display: inline-block;
  position: relative;
  width: 4.4rem;
  height: 4.5rem;
  flex-basis: 4.6rem;
  box-sizing: content-box;
  margin-left: -1rem;
}

.secondary-control-group {
  position: relative;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 0.8rem;
  box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.15), 0 0.1rem 0.3rem 0.1rem rgba(0, 0, 0, 0.4);
  padding: 0.8rem 1.5rem;
  width: 100%;
  margin-bottom: 2.5rem;
}
.secondary-control-group.half-width {
  width: calc(50% - 3rem);
}
.secondary-control-group .header {
  border-radius: 0.8rem 0.8rem 0 0;
  padding-left: 1rem;
}
.secondary-control-group .header .icon-container {
  top: 0.3rem;
}
.secondary-control-group .header .icon-container svg {
  position: relative;
  height: 60%;
  width: 100%;
}
.secondary-control-group .header .icon-container.no-icon {
  min-width: 1.2rem;
  flex-basis: 0;
}
.secondary-control-group .controls-wrapper {
  position: relative;
  display: flex;
}
.secondary-control-group.justify-content .controls-wrapper {
  justify-content: space-between;
}

.progress {
  position: absolute;
  display: inline-block;
  top: 1.3rem;
  right: 2rem;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  position: relative;
  margin: 0;
}
.screen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0.5rem;
  z-index: 100;
}

/* warmup/cooldown bar for video channels */
.progress {
  width: 21rem;
  height: 2.5rem;
  background-color: rgb(70, 70, 70);
  box-shadow: inset 0.1rem 0.1rem 0.4rem 0 rgba(0, 0, 0, 0.8);
  border-radius: 1.2rem;
}

.progress::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2rem;
  left: 0.3rem;
  top: 0.3rem;
  background-color: var(--gray-light);
  border-radius: 1rem;
}

@keyframes warmup {
  from {
    width: 1rem;
  }
  to {
    width: calc(100% - 0.6rem);
  }
}
.progress.warming::before, .progress.cooling::before {
  animation-duration: var(--duration);
  animation-name: warmup;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.progress.warming::after, .progress.cooling::after {
  position: absolute;
  font-weight: normal;
  text-transform: initial;
  color: #fff;
  font-size: 2rem;
}

.progress.warming::after {
  content: "Starting";
  left: -8.6rem;
}

.progress.cooling::after {
  content: "Turning off";
  left: -11.6rem;
}


/* Banners */
#room-header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  font-size: 3.2rem;
  padding-top: 0.8rem;
  padding-bottom: 0.9rem;
  padding-left: calc(3% + 2.2rem);
  padding-right: calc(3% + 2.2rem);
  background-color: var(--gray-dark);
  display: flex;
  justify-content: center;
}

h1#room-name {
  text-transform: capitalize;
  color: var(--gray-lighter);
  cursor: auto;
  user-select: none;
  font-size: 3.2rem;
}

#message {
  width: max-content;
  max-width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
}
#message p {
  padding: 1rem;
}

#banners-container {
  position: fixed;
  width: 100%;
  top: var(--room-header-height);
  margin-bottom: 1rem;
}

.banner {
  flex-basis: 100%;
  color: #fff;
  background-color: var(--theme-color);
  border: 0.1rem solid #9100cc;
  padding: 0.5rem 1.5rem;
  border-radius: 0.6rem;
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 2.4rem;
}
.banner.hidden {
  display: none;
}
.banner .icon-container {
  height: 4.8rem;
  width: 4.8rem;
  margin-right: 1.5rem;
  margin-top: auto;
  margin-bottom: auto;
}
.banner .outline {
  stroke: #fff;
}
.banner .shape {
  fill: #fff;
  stroke: #fff;
}
.banner p {
  margin-top: auto;
  margin-bottom: auto;
}
.banner button {
  background-color: var(--gray-lighter);
  color: var(--gray-darker);
  font-size: 1.2rem;
  padding: 0 1rem;
  border-radius: 1rem;
  margin-left: 3rem;
  margin-top: auto;
  margin-bottom: auto;
  min-width: max-content;
  height: 4.8rem;
}

.banner.warning {
  background-color: var(--warning-red);
  border: 0.1rem solid #c6142b;
}
.banner.warning button {
  color: var(--warning-red);
}
.banner.warning button.active {
  color: #fff;
  background-color: #ee5267;
}



/* Recording Indicator */
@keyframes blink {
  from {
    filter: blur(0 0.5rem);
  }
  to {
    filter: blur(0.15rem);
  }
}
#recording-indicator {
  position: fixed;
  top: 1.4rem;
  left: 2rem;
  display: flex;
  flex-direction: row-reverse;
  color: var(--gray-lighter);
  font-size: 2.4rem;
  align-items: center;
}
#recording-indicator.hidden {
  display: none;
}

#recording-light {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 1.5rem;
  margin-right: 1.5rem;
  background-color: red;
  animation: 1s infinite alternate blink;
  animation-timing-function: ease-in-out;
}



/* Modals */
.modal {
  position: fixed;
  z-index: 120;
  background-color: var(--gray-dark);
  color: var(--gray-lighter);
  padding: 3rem;
  box-sizing: border-box;
}
.modal.modal-popup {
  border-radius: 0.6rem;
}
.modal.modal-full {
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal.modal-full h1 {
  font-size: 5.28rem;
  margin: 4rem 0 2rem;
  text-transform: unset;
}
.modal.modal-full h1 > .icon-container {
  display: inline-block;
  position: relative;
  width: 4.4rem;
  height: 4.5rem;
  flex-basis: 4.6rem;
  box-sizing: content-box;
}
.modal.modal-full p {
  font-size: 3.5rem;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}
.modal.modal-full button.text-only {
  margin-top: 5rem;
  margin-right: 3rem;
}
.modal.modal-full .icon.splash {
  width: 15rem;
}
.modal.modal-full .icon.splash .shape {
  fill: var(--theme-color);
  stroke: var(--theme-color);
}
.modal.modal-full .icon.splash .outline {
  stroke: var(--theme-color);
}
.modal.modal-full .counter {
  font-weight: bold;
  font-size: 5.5rem;
}
.modal.modal-relative {
  width: 100%;
  min-height: calc(100% - var(--room-header-height));
  top: var(--room-header-height);
  overflow-y: auto;
  padding-top: 0;
}
.modal.modal-relative h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}
.modal.modal-relative .secondary-control-group header h1, .modal.modal-relative .secondary-control-group .header h1 {
  margin: 0;
  font-size: 2.56rem;
  color: var(--gray-light);
}
.modal.modal-relative > .container {
  height: calc(100vh - 13rem);
  padding-top: calc(var(--room-header-height) * 0.1);
  overflow-y: auto;
}

#shutdown-countdown, #shutdown-notification {
  min-height: 13.5rem;
}
#autoshutdown-warning, #autoleave-zoom-prompt {
  background-color: var(--theme-color);
  color: #fff;
}
#autoshutdown-warning .shape, #autoleave-zoom-prompt .shape {
  fill: #fff;
  stroke: #fff;
}
#autoshutdown-warning button, #autoleave-zoom-prompt button {
  background-color: rgba(0, 0, 0, 0.2);
}
#autoshutdown-warning button.focus, #autoshutdown-warning button.active, #autoleave-zoom-prompt button.focus, #autoleave-zoom-prompt button.active {
  background-color: #fff;
}
#autoshutdown-warning button.focus .button-label, #autoshutdown-warning button.active .button-label, #autoleave-zoom-prompt button.focus .button-label, #autoleave-zoom-prompt button.active .button-label {
  color: #9500d2;
}
#autoshutdown-warning button.disabled, #autoleave-zoom-prompt button.disabled {
  background-color: rgba(255, 255, 255, 0.1);
}
#autoshutdown-warning button.disabled .button-label, #autoleave-zoom-prompt button.disabled .button-label {
  color: #9103cc;
}
#autoshutdown-warning button.active.disabled, #autoleave-zoom-prompt button.active.disabled {
  background-color: #cccccc;
}
#autoshutdown-warning button.active.disabled .button-label, #autoleave-zoom-prompt button.active.disabled .button-label {
  color: var(--disabled-element);
}

#shutdown-confirmation.hidden, #autoshutdown-warning.hidden, #manual-zoom-prompt.hidden, #scheduled-zoom-prompt.hidden, #leave-zoom-prompt.hidden, #autoleave-zoom-prompt.hidden, #share-screen-zoom-prompt.hidden, #zoom-room-panel-prompt.hidden {
  display: none;
}


/* Advanced Controls */
#advanced-modals-container .modal .exit-modal {
  position: absolute;
  font-size: 2.4rem;
  padding: 1.5rem;
  background-color: var(--theme-color);
  color: #fff;
}





/* Zoom Integration Components */
#sharing-key-container {
  font-size: 2.4rem;
  line-height: 1.6rem;
  padding: 1rem;
  color: var(--gray-lighter);
  border-radius: 0.8rem;
  position: fixed;
  text-align: center;
  top: 1.1rem;
  right: 2.5rem;
  z-index: 120;
}
#sharing-key-container .icon-container {
  display: none;
  height: 2.4rem;
  width: 2.4rem;
  vertical-align: middle;
}
#sharing-key-container span {
  vertical-align: middle;
}
#sharing-key-container .shape, #sharing-key-container .outline {
  fill: var(--gray-lighter);
}

.banner#zoom-room-notification {
  background-color: var(--zoom-blue);
  border: 0.1rem solid #1161b0;
}
.banner#zoom-room-notification button {
  color: var(--zoom-blue);
}
.banner#zoom-room-notification button.active {
  background-color: #3b94ec;
}

#manual-zoom-prompt input {
  font-size: 3rem;
  width: 37rem;
  padding: 1.5rem;
  border: 0.3rem solid var(--theme-color);
  border-radius: 1rem;
  background-color: var(--gray-base);
  color: var(--gray-lighter);
}
#manual-zoom-prompt label {
  font-size: 2.8rem;
  margin-right: 1rem;
}

#share-screen-zoom-prompt .zoom-sharing-key {
  border-radius: 1.5rem;
  font-size: 8rem;
  letter-spacing: 2.4rem;
  margin-left: 2.4rem;
}
#share-screen-zoom-prompt .zoom-sharing-key.not-available {
  letter-spacing: normal;
  margin-left: 0;
}
#share-screen-zoom-prompt .icon-container {
  height: 8rem;
  width: 8rem;
  position: relative;
  top: 2.5rem;
  display: inline-flex;
  margin-top: -2rem;
  margin-bottom: 2.5rem;
}
#share-screen-zoom-prompt .icon-container .shape {
  fill: #fff;
  stroke: #fff;
}

/* Zoom join form */
@keyframes slideup {
  from {
    top: 0;
  }
  to {
    top: -26rem;
  }
}
.form-row {
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

form#join_meeting_by_id {
  margin-top: 5rem;
}
form#join_meeting_by_id .form-row {
  text-align: left;
}
form#join_meeting_by_id label {
  display: inline-block;
  width: 15.5rem;
  margin-left: calc(50% - 35rem);
}
form#join_meeting_by_id #form-actions button {
  padding: 1.5rem 2.5rem;
}

#manual-zoom-prompt.focused {
  height: calc(100% + 43rem);
  animation-duration: 0.5s;
  animation-name: slideup;
  top: -40rem;
}
#manual-zoom-prompt.focused form#join_meeting_by_id {
  margin-top: 0rem;
}
#manual-zoom-prompt.focused form#join_meeting_by_id #form-actions button {
  margin-top: 0.5rem;
}

#sip-toggle {
  display: inline-flex;
  margin-left: 2rem;
}
#sip-toggle button {
  margin: 0;
  padding: 1rem;
  align-items: center;
}
#sip-toggle button .button-label {
  font-size: 1.92rem;
}
#sip-toggle button:first-of-type {
  border-radius: 0.6rem 0 0 0.6rem;
}
#sip-toggle button:nth-of-type(2) {
  border-radius: 0 0.6rem 0.6rem 0;
}
#sip-toggle button.full-horizontal .icon-container {
  width: 3rem;
}


/* Maintenance modal */
#maintenance {
  width: 80%;
  max-width: 960px;
  height: calc(95% - var(--room-header-height));
  top: var(--room-header-height);
  left: 10%;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 1.5rem;
  font-size: 1.5rem;
}
#maintenance button.text-only {
  padding: 1rem 2rem;
  border-radius: 1rem;
}
#maintenance button.dismiss {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 4rem;
  width: 6rem;
  color: #000;
  background: none;
  box-shadow: none;
  margin: 0;
}
#maintenance pre {
  width: 100%;
  height: calc(100% - 11rem);
  overflow-y: auto;
}
#maintenance h1 {
  flex-basis: 100%;
  font-family: sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
#maintenance .timestamp {
  width: 100%;
  margin-bottom: 1rem;
}
#maintenance.hidden {
  display: none;
}


/* Z-Indexing */
#room-header, .banner {
  z-index: 110;
}
.screen {
  z-index: 100;
}
#sharing-key-container {
  z-index: 120;
}


/* Responsive */
@media (min-width: 1450px) {
  .primary-control-group {
    max-width: calc(192rem * 1 / var(--scale-factor));
    margin-left: auto;
    margin-right: auto;
  }
  #sharing-key-container {
    right: unset;
    left: calc(50% + 41.5rem);
  }
  .secondary-control-group.half-width.justify-content .controls-wrapper {
    justify-content: unset;
  }
  .secondary-control-group .control {
    margin: 0 1rem;
  }
  .secondary-control-group .button-group button {
    margin: 0 1rem 1rem 0rem;
  }
  .secondary-control-group input[type=range] {
    margin: 3rem 1rem;
  }
  .camera-zoom.button-group {
    width: 28rem;
  }
}
@media (min-width: 1200px) {
  #maintenance {
    left: calc(50% - 480px);
  }
}
@media (max-width: 1449px) {
  #room-header {
    padding-left: 3.6rem;
    padding-right: 3.6rem;
  }
  .primary-control-group {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  button.full {
    min-width: 16.5rem;
    min-height: 16.5rem;
    width: 16.5rem;
    height: 16.5rem;
  }
  .camera-zoom.button-group .volume-stepper {
    margin-top: 3rem;
  }
}
@media (max-width: 1081px) {
  .half-width, .secondary-control-group.half-width {
    width: calc(50% - 1rem);
  }
  .half-width input[type=range], .secondary-control-group.half-width input[type=range] {
    margin: 2.3rem 0.7rem;
  }
  button.icon-only {
    width: 10rem;
    height: 7.5rem;
    border-radius: 2rem;
  }
  .camera-zoom.button-group {
    width: 23rem;
  }
}
@media (max-width: 1010px) {
  .secondary-control-group {
    margin-bottom: 1.5rem;
  }
  .half-width, .secondary-control-group.half-width {
    width: calc(50% - 0.5rem);
  }
  .button-label {
    font-size: 2.3rem;
  }
  button.full {
    min-width: 14rem;
    min-height: 14rem;
    width: 14rem;
    height: 14rem;
    padding: 0.5rem;
  }
  button.full .icon.voice-track-icon {
    width: 60%;
    left: 20%;
    top: unset;
  }
  .pan-tilt-wrapper {
    width: 15rem;
    height: 15rem;
  }
  .pan-tilt-wrapper .arrow {
    border-top: 1.2rem solid transparent;
    border-right: 1.8rem solid var(--gray-light);
    border-bottom: 1.2rem solid transparent;
  }
  .camera-zoom.button-group .volume-stepper {
    margin-top: 1.5rem;
  }
  .banner {
    font-size: 2.1rem;
  }
}
@media (max-width: 945px) {
  .secondary-control-group.half-width {
    width: 100%;
  }
  .secondary-control-group.half-width.justify-content .controls-wrapper {
    justify-content: flex-start;
  }
}
@media (max-width: 880px) {
  #sharing-key-container .icon-container {
    display: inline-block;
  }
  #sharing-key-container .label {
    display: none;
  }
}
@media (max-width: 837px) {
  .modal.modal-full {
    padding: 3rem 1rem;
  }
  .modal.modal-full h1 {
    font-size: 4rem;
  }
  .modal.modal-full p {
    font-size: 3rem;
  }
  #sip-toggle button {
    font-size: 2rem;
  }
  #manual-zoom-prompt label {
    font-size: 2.3rem;
    margin-right: 0;
  }
  #manual-zoom-prompt input {
    width: 33rem;
  }
  form#join_meeting_by_id label {
    width: 13rem;
    margin-left: calc(50% - 30rem);
  }
}
@media (max-width: 820px) {
  h2 {
    font-size: 2.2rem;
  }
  button.full {
    min-width: 11.6rem;
    min-height: 11.6rem;
    width: 11.6rem;
    height: 11.6rem;
    border-radius: 1.8rem;
  }
  button.full .icon {
    width: 50%;
    left: 25%;
  }
  button.full .pause-icon {
    top: calc(50% - 6.5rem);
  }
  .progress {
    width: 15rem;
    height: 1.8rem;
  }
  .progress::before {
    height: 1.3rem;
  }
  .progress.warming::after, .progress.cooling::after {
    content: "";
  }
  #room-header {
    font-size: 2.5rem;
    padding-right: 1.5rem;
  }
  h1#room-name {
    font-size: 2.5rem;
  }
  #sharing-key-container {
    top: 0.5rem;
  }
  .banner .icon-container {
    height: 4rem;
    width: 4rem;
  }
  .banner button.text-only {
    height: unset;
    padding: 0.5rem 1rem;
  }
  :root {
    --room-header-height: 5rem;
    --banner-height: 5.1rem;
  }
  .primary-control-group:first-of-type.banners-active {
    padding-top: calc(var(--num-banners) * var(--banner-height) + var(--room-header-height) + 1.5rem);
  }
  .secondary-control-group {
    padding: 0.8rem 0.5rem;
  }
  .pan-tilt-wrapper {
    top: -2rem;
    margin-bottom: 1rem;
  }
  .pan-tilt-wrapper .button-label {
    font-size: 2rem;
  }
  .camera-zoom .button-label {
    font-size: 2rem;
  }
  #sip-toggle .icon-container {
    display: none;
  }
}
@media (max-width: 720px) {
  h2 {
    font-size: 2rem;
  }
  form#join_meeting_by_id .form-row {
    flex-wrap: wrap;
  }
  form#join_meeting_by_id label {
    width: 100%;
    margin-left: 0;
    padding-bottom: 1rem;
  }
  form#join_meeting_by_id input {
    flex-grow: 1;
  }
  #sip-toggle {
    position: absolute;
    right: 0;
    top: -1rem;
  }
}
@media (max-width: 600px) {
  .counter {
    font-size: 4.5rem;
  }
  button.text-only, button.default-button {
    padding: 1rem 2rem;
    border-radius: 1rem;
  }
  button.text-only .button-label {
    font-size: 2.5rem;
  }
  #sharing-key-container {
    display: none;
  }
  button.full {
    min-width: 10rem;
    min-height: 10rem;
    width: 10rem;
    height: 10rem;
  }
  .button-label {
    font-size: 1.9rem;
  }
  button.full .pause-icon {
    top: unset;
  }
}
@media (max-width: 480px) {
  .progress {
    display: none;
  }
}


/* Keep at end of compiled css */
.no-poiner-events {
  pointer-events: none;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none;
}